@import './global.scss';

section.repository-list {
  margin: 40px;

  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;   
    .app-logo {
      width: 10rem;
      height: 10rem; 
    } 
  }

  .search-button{
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;   
    input {
      border: 1px solid #30363d;
      color: #c9d1d9;
      border-radius: 6px;
      height: 2rem;
      width: 12rem;
      padding: 5px 12px;
      background-color: #010409;
    }
  }

  .repositories-wrapper {
    h2 {
      padding: 3rem 0rem 3rem 0rem;
    }
    ul {
      list-style: none;

      li {
        & + li {
          margin-top: 25px;
        }

        p {
          font-size: 14px;
          color: #ffffff;
          margin-top: 8px;
        }

        a {
          display: inline-block;
          margin-top: 16px;
          text-decoration: none;
          color: #8257e6;
        }
      }
    }
  }
}